<?xml version="1.0"?>

<model>
  <name>ROBOSKEL Industrial Area 75x75m</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>George Stavrinos</name>
    <email>gstavrinos@iit.demokritos.gr</email>
  </author>

  <description>
    The simulated roboskel industrial area (75x75m)!
  </description>
</model>
