<?xml version="1.0"?>

<model>
  <name>Library Space</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>George Stavrinos</name>
    <email>gstavrinos@iit.demokritos.gr</email>
  </author>

  <description>
    (approximately) The space that can be used by the educational programs of Roboskel.
  </description>
</model>
