<?xml version="1.0"?>

<model>
  <name>Artificial Wall</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>George Stavrinos</name>
    <email>gstavrinos@iit.demokritos.gr</email>
  </author>

  <description>
    The artificial walls used in Roboskel to create various environments.
  </description>
</model>
