<?xml version="1.0"?>

<model>
  <name>Constrained Aerial Environment</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>George Stavrinos</name>
    <email>gstavrinos@iit.demokritos.gr</email>
  </author>

  <description>
    A constrained_aerial_environment downloaded from sketchup warehouse and arranged according to our needs.
  </description>
</model>
