<?xml version="1.0"?>

<model>
  <name>Fence 200m x 100m</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>George Stavrinos</name>
    <email>gstavrinos@iit.demokritos.gr</email>
  </author>

  <description>
    Limit an area of 200m x 100m
  </description>
</model>
