<?xml version="1.0"?>

<model>
  <name>Door</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>George Stavrinos</name>
    <email>gstavrinos@iit.demokritos.gr</email>
  </author>

  <description>
    A door downloaded from turbosquid.
  </description>
</model>
